header
    section
        background-color: purple
        display: flex
        align-items: center
        #champs_newsletter
            margin: 0 auto
        span
            color: white
        input
            border-radius: 5px
        ::placeholder
            font-style: italic
        button
            background-color: lightgreen
            color: white
            border: none
            border-radius: 5px
        button:hover
            background-color: #8790c4
        img
            width: 40px
            opacity: 50%

